.landing {
  width: 1980px;
  height: 700px;
}

h1 {
  color: white;
  font-family: 'Poppins', sans-serif;
}

.designer {
  width: 617px;
  height: 163px;
  flex-shrink: 0;
  color: #fff;
  font-size: 110px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 200px;
  margin-left: 300px;
  background-color: transparent;
}

.designer:hover {
  transition-delay: 0s;
  transition: 0.5s;
  color: white;
  text-shadow: 0 0 20px #fdfdfd;
}

.coder {
  width: 536px;
  height: 163px;
  flex-shrink: 0;
  color: #fff;
  font-size: 110px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 900px;
  margin-top: -70px;
}

.coder:hover {
  transition-delay: 0s;
  transition: 0.5s;
  color: white;
  text-shadow: 0 0 20px #fdfdfd;
}

p {
  color: white;
}

.designerD {
  width: 512px;
  height: 64px;
  flex-shrink: 0;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: -100px;
  margin-left: 310px;
}

.coderD {
  width: 512px;
  height: 64px;
  flex-shrink: 0;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: -290px;
  margin-left: 900px;
}

.bg {
  background-image: url(./background.png);
  width: 550px;
  height: 600px;
  background-size: cover;
  margin-top: -370px;
  margin-left: 70px;
}
